.header {
    background-color: rgb(240, 240, 241);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .front {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 50%;
        background: linear-gradient(229deg, #f5f5f5, #656464);
        background-size: 400% 400%;
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
        .titulo-front{
            font-size: 80px;
            margin-top: 150px;
            font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
            
        }
    }

    .back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: linear-gradient(229deg, #000000, #434343);
        background-size: 400% 400%;

        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
        height: 100%;
        width: 50%;
        color: #fff;
        .titulo-back{
            font-size: 80px;
            margin-bottom: 150px;
            font-family: "Workbench", sans-serif;
            font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
        }
    }
    .btn-proyectos{
        position: absolute;
        left: 43.2%;
        top: 50%;
        font-size: 30px;
        border-radius: 30px;
        transition: .5s;
        font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
        cursor: pointer;
        &:hover{
           
        }
        .spn1{
            color: #fff;
            background-color: #000000;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 20px 0px 0px 20px;
            
        }
        .spn2{
            color: #000;
            background-color: #fff;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 0px 20px 20px 0px;
        }
    }
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 79% 0%
    }

    50% {
        background-position: 22% 100%
    }

    100% {
        background-position: 79% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 79% 0%
    }

    50% {
        background-position: 22% 100%
    }

    100% {
        background-position: 79% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 79% 0%
    }

    50% {
        background-position: 22% 100%
    }

    100% {
        background-position: 79% 0%
    }
}


@-webkit-keyframes AnimationName {
    0% {
        background-position: 30% 0%
    }

    50% {
        background-position: 71% 100%
    }

    100% {
        background-position: 30% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 30% 0%
    }

    50% {
        background-position: 71% 100%
    }

    100% {
        background-position: 30% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 30% 0%
    }

    50% {
        background-position: 71% 100%
    }

    100% {
        background-position: 30% 0%
    }
}